# clang format 13
# https://releases.llvm.org/13.0.1/tools/clang/docs/ClangFormatStyleOptions.html

---
BasedOnStyle: Mozilla
AccessModifierOffset: -4
AlignTrailingComments: false
AllowShortLambdasOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterControlStatement: Always
  AfterClass: true
  AfterEnum: true
  AfterStruct: true
  AfterFunction: true
  AfterNamespace: true
  BeforeCatch: true
  BeforeElse: true
  SplitEmptyFunction: true
ColumnLimit: 150
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
DeriveLineEnding: false
FixNamespaceComments: true
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
NamespaceIndentation: All
WhitespaceSensitiveMacros:
  - Q_PROPERTY
StatementMacros:
  - Q_UNUSED
  - VALUE_CONVERTER_ITEM
...
